/* Active Admin Print Stylesheet */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: "" ""; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

a img {
  border: none; }

body.active_admin html {
  font-size: 100.01%; }
body.active_admin {
  font-size: 75%;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }
body.active_admin h1, body.active_admin h2, body.active_admin h3, body.active_admin h4, body.active_admin h5, body.active_admin h6 {
  font-weight: normal;
  color: black; }
  body.active_admin h1 img, body.active_admin h2 img, body.active_admin h3 img, body.active_admin h4 img, body.active_admin h5 img, body.active_admin h6 img {
    margin: 0; }
body.active_admin h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em; }
body.active_admin h2 {
  font-size: 2em;
  margin-bottom: 0.75em; }
body.active_admin h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }
body.active_admin h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }
body.active_admin h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }
body.active_admin h6 {
  font-size: 1em;
  font-weight: bold; }
body.active_admin p {
  margin: 0 0 1.5em; }
  body.active_admin p .left {
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0; }
  body.active_admin p .right {
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0; }
body.active_admin .left {
  float: left !important; }
body.active_admin .right {
  float: right !important; }
body.active_admin blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }
body.active_admin strong, body.active_admin dfn {
  font-weight: bold; }
body.active_admin em, body.active_admin dfn {
  font-style: italic; }
body.active_admin sup, body.active_admin sub {
  line-height: 0; }
body.active_admin abbr,
body.active_admin acronym {
  border-bottom: 1px dotted #666; }
body.active_admin address {
  margin: 0 0 1.5em;
  font-style: italic; }
body.active_admin del {
  color: #666; }
body.active_admin pre {
  margin: 1.5em 0;
  white-space: pre; }
body.active_admin pre, body.active_admin code, body.active_admin tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }
body.active_admin li ul,
body.active_admin li ol {
  margin: 0; }
body.active_admin ul, body.active_admin ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em; }
body.active_admin ul {
  list-style-type: disc; }
body.active_admin ol {
  list-style-type: decimal; }
body.active_admin dl {
  margin: 0 0 1.5em 0; }
body.active_admin dl dt {
  font-weight: bold; }
body.active_admin dd {
  margin-left: 1.5em; }
body.active_admin table {
  margin-bottom: 1.4em;
  width: 100%; }
body.active_admin th {
  font-weight: bold; }
body.active_admin thead th {
  background: #c3d9ff; }
body.active_admin th, body.active_admin td, body.active_admin caption {
  padding: 4px 10px 4px 5px; }
body.active_admin .small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em; }
body.active_admin .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em; }
body.active_admin .hide {
  display: none; }
body.active_admin .quiet {
  color: #666; }
body.active_admin .loud {
  color: #000; }
body.active_admin .highlight {
  background: #ff0; }
body.active_admin .added {
  background: #060;
  color: #fff; }
body.active_admin .removed {
  background: #900;
  color: #fff; }
body.active_admin .first {
  margin-left: 0;
  padding-left: 0; }
body.active_admin .last {
  margin-right: 0;
  padding-right: 0; }
body.active_admin .top {
  margin-top: 0;
  padding-top: 0; }
body.active_admin .bottom {
  margin-bottom: 0;
  padding-bottom: 0; }

body.active_admin {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 150%;
  font-size: 72%;
  background: #fff;
  width: 99%;
  margin: 0;
  padding: .5%;
  color: black; }

body.active_admin a {
  color: black;
  text-decoration: none; }
body.active_admin h3 {
  font-weight: bold;
  margin-bottom: .5em; }
body.active_admin #header {
  float: left; }
  body.active_admin #header #tabs, body.active_admin #header #utility_nav {
    display: none; }
  body.active_admin #header h1 {
    font-weight: bold; }
body.active_admin .flashes {
  display: none; }
body.active_admin #title_bar {
  float: right; }
  body.active_admin #title_bar h2 {
    line-height: 2em;
    margin: 0; }
  body.active_admin #title_bar .breadcrumb, body.active_admin #title_bar #titlebar_right {
    display: none; }
body.active_admin #active_admin_content {
  border-top: thick solid black;
  clear: both;
  margin-top: 2em;
  padding-top: 3em; }
body.active_admin #footer {
  display: none; }
body.active_admin .table_tools ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }
  body.active_admin .table_tools ul li {
    display: none;
    padding: 0;
    margin-bottom: 1em; }
    body.active_admin .table_tools ul li.scope.selected {
      display: block; }
      body.active_admin .table_tools ul li.scope.selected:before {
        content: "Showing "; }
      body.active_admin .table_tools ul li.scope.selected a {
        font-weight: bold; }
      body.active_admin .table_tools ul li.scope.selected span {
        display: inline-block;
        font-weight: normal;
        font-size: .9em; }
body.active_admin table {
  margin-bottom: 1.5em;
  text-align: left;
  width: 100%; }
  body.active_admin table thead {
    display: table-header-group; }
    body.active_admin table thead th {
      background: none;
      border-bottom: medium solid black;
      font-weight: bold; }
      body.active_admin table thead th a {
        text-decoration: none; }
  body.active_admin table th, body.active_admin table td {
    padding: .5em 1em; }
    body.active_admin table th .member_link, body.active_admin table td .member_link {
      display: none; }
  body.active_admin table td {
    border-bottom: thin solid black; }
  body.active_admin table tr {
    page-break-inside: avoid; }
body.active_admin #index_footer, body.active_admin .pagination_information {
  display: none; }
body.active_admin .index_grid td {
  border: none;
  text-align: center;
  vertical-align: middle; }
  body.active_admin .index_grid td img {
    max-width: 1in; }
body.active_admin .panel {
  border-bottom: thick solid #ccc;
  margin-bottom: 3em;
  padding-bottom: 2em;
  page-break-inside: avoid; }
  body.active_admin .panel:last-child {
    border-bottom: none; }
body.active_admin .comments form {
  display: none; }
body.active_admin .comments .active_admin_comment {
  border-top: thin solid black;
  padding-top: 1em; }
  body.active_admin .comments .active_admin_comment .active_admin_comment_meta h4 {
    font-size: 1em;
    font-weight: bold;
    float: left;
    margin-right: .5em;
    margin-bottom: 0; }
  body.active_admin .comments .active_admin_comment .active_admin_comment_meta span {
    font-size: .9em;
    font-style: italic;
    vertical-align: top; }
  body.active_admin .comments .active_admin_comment .active_admin_comment_body {
    clear: both;
    margin-bottom: 1em; }
body.active_admin .attributes_table {
  border-top: medium solid black; }
  body.active_admin .attributes_table th {
    border-bottom: thin solid black;
    vertical-align: top; }
    body.active_admin .attributes_table th:after {
      content: ':'; }
  body.active_admin .attributes_table td img {
    max-height: 4in;
    max-width: 6in; }
body.active_admin #filters_sidebar_section {
  display: none; }
body.active_admin form fieldset {
  border-top: thick solid #ccc;
  padding-top: 2em;
  margin-bottom: 2em; }
  body.active_admin form fieldset:last-child {
    border-bottom: none; }
body.active_admin form .buttons, body.active_admin form abbr {
  display: none; }
body.active_admin form ol {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  body.active_admin form ol li {
    border-top: thin solid black;
    margin: 0;
    padding: 1em 0;
    overflow: hidden; }
    body.active_admin form ol li.password, body.active_admin form ol li.hidden {
      display: none; }
    body.active_admin form ol li label {
      font-weight: bold;
      float: left;
      width: 20%; }
    body.active_admin form ol li input, body.active_admin form ol li textarea, body.active_admin form ol li select {
      background: none;
      border: 0;
      font: Arial, Helvetica, sans-serif; }
    body.active_admin form ol li input[type=file] {
      display: none; }
