<% @products.each do |product| %>
  <div class="product">
    <%= link_to image_tag("products/" + product.image_file_name), product_path(product) %>
    <h2><%= link_to product.title, product_path(product) %></h2>
  </div>
<% end %>

<div style="clear:both"></div>
